*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.title-hide{
    display:none;
}

.bio-thani{
    width: 70%;
}
.login-user, .signUp-user{
    width: 320px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: auto;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.welcome {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #ffffff;
    font-weight: 600;
    padding-bottom: 10px;
}

.login-user-header p {
    margin-bottom: 30px;
}

.signUp-user-header p {
    margin-bottom: 30px;
}

.login-user-header, .signUp-user-header{
    width: 320px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.mindfulness{
    width: 80%;
    margin-top:20px;
    margin-bottom:15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 10px;
}

.login-form-input, .signUp-form-input  {
    border-radius: 10px;
    border: none;
    margin: 0px 0px 15px;
    padding: 10px;
    width: 242px;
    height: 50px;
}

.login-form-btn {
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    width: 242px;
    height: 50px;
}

section {
    text-align: center;
}

.social-btn {
    padding: 15px;
    width: 80px;
    height: 80px;
} 

/* Signin */
/* .signUp-user {
    width: 320px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
} */

.signUp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-login {
    color: rgb(211, 49, 49);
    font-size: 14px;
}
/*.signUp-form-input {
    border-radius: 14px;
    border: none;
    margin: 0px 0px 15px;
    padding: 8px;
    width: 370px;
    height: 50px;
}*/

.or {
    font-size: 20px;
    color: #ffffff;
    /*font-weight: 600;*/
}

.signUp-form-btn {
    border-radius: 10px;
    border: none;
    margin-top:10px;
    margin-bottom: 30px;
    padding: 10px;
    width: 242px;
    height: 50px;
    cursor: pointer;
}

.login-user-form, .signUp-user-form{
    margin-left:5%;
    margin-right:5%;
    /*background-color:#e7f9ff;*/
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    padding:10px 10px;
    border-radius:10px;
}

#container {
    height: 100vh;
}

/* ---------------- 700 px------------------- */
@media (min-width: 700px) {
* {
    height: auto;
}

.title-hide{
    display:none;
}

.mindfulness {
    width: 180%;
    /* margin: auto; */
    min-width: 200px;
}

#container {
    height: 100%;
}

.div-view {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: inherit;
}

.login-user, .signUp-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 10%;
    margin-top: 5%;
    margin-right:10%;
}

.login-form, .signUp-form {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:20px 50px;
}

.login-user-form, .signUp-user-form {
    /* margin-left:40%;
    margin-right:10%; 
    background-color:#e7f9ff;*/
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    padding:10px 10px;
    border-radius:10px;
    margin-bottom: 60px;
}

.login-form-input, .signUp-form-input  {
    border-radius: 10px;
    border: none;
    margin: 0px 0px 15px;
    padding: 10px;
    width: 415px;
    height: 50px;
}

.login-form-btn, .signUp-form-btn {
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    width: 415px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}

h1{
        font-size:40px;
    }
} 

@media (min-width: 1400px) {
    * {
        height: auto;
    }

    .div-view{
        display:flex;
        flex-direction: column;
        align-items:center;
        margin-left: 5%;
        margin-right: 5%;

    }

    .title-hide{
        display:flex;
        justify-content: center;
        padding-top:2%;
 
    }

    .title-hide h1{
        font-size:60px;
    }

    .login-user-title h1{
        display:none;
    }

    .signUp-user-title h1{
        display:none; 
    }

    .login-user-container, .signUp-user-container {
        margin-top:auto;
        margin-left:auto;
        margin-bottom:auto;
        margin-right: 5%;  
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mindfulness {
        width: 280%;
        margin:auto;
        min-width:200px;
    }

    #container {
        height: 100%; 
        
    }

    .div-view {
        display: flex;
        justify-content: center;
        height: auto;
        align-items: center;
    }

    .login-user, .signUp-user {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-left: 10%;
        margin-top:2%;
        margin-right:10%;
    }

    .login-form, .signUp-form {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .login-user-form, .signUp-user-form {
        /* margin-left:45%;
        margin-right:10%;
        background-color:#e7f9ff;*/
        background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
        padding:40px 5px;
        border-radius:20px;
    }

    h1{
    font-size: 50px;
    color: #297883;
    }

    .login-form-input, .signUp-form-input {
        border-radius: 10px;
        border: none;
        margin: 10px 0px;
        padding: 8px;
        width: 370px;
        height: 50px;
        font-size: 18px;

    }
    
    .login-form-btn, .signUp-form-btn {
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 10px;
        width: 370px;
        height: 50px;
        font-size: 18px;
        cursor: pointer;
    }  
} 

